<!DOCTYPE html>
<html ng-app>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Prodigious Test</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body ng-controller="mainCtrl">
        <div class="container">
            <div class="row header">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <h1 class="album-title text-center">{{ album.name }}</h1>
                </div>
            </div>
            <div class="row body">
                <div class="col-lg-12 col-md-12 col-xs-12 main-content">
                    <div class="overlay">
                        <div class="text-center">
                            <img class="img-responsive img-rounded center-block" ng-src="{{ image }}" alt="{{ photo.title }}"/>
                            <a class="left carousel-control" href="" ng-click="showImage(prevPhoto)">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="" ng-click="showImage(nextPhoto)">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                            <h3>{{ photo.title }}</h3>
                            <h4>Taken at the Intel Conference in {{ photo.location }} on {{ photo.date }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer">
                <div class="col-lg-12 col-md-12 col-xs-12 text-center">
                    <img id="{{ photo.id }}" class="img-thumbnail" ng-repeat="photo in photos" ng-click="showImage(photo)"
                         ng-src="images/{{ photo.thumb_url }}" ng-class="{ active: (photo.id == 1)}" alt="{{ photo.title }}"/>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>